/* 폰트적용 */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
    font-family: "Noto Sans KR", sans-serif;
}

html {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}


/* 노말라이즈 */

body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}


/* 라이브러리 */

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}


/* 라이브러리 - flex */

*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}


/* 커스텀 */

.con {
    width: 1180px;
}

.con-min-width {
    min-width: 1180px;
}


/* 
#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#menu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
}
 */

body,
html {
    overflow-x: hidden;
}


/* 탑바 시작 */

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 10;
}

.top-bar>.con>a>img {
    width: 150px;
}

.top-bar>.con>.menu-box-1>ul>li>a {
    color: white;
    display: block;
    padding: 0 20px;
    font-weight: 100;
}

.top-bar>.con>.menu-box-1>ul>li:hover>a {
    text-decoration: underline;
    font-weight: bold;
}

.scroll-top-0-up .top-bar {
    background-color: white;
    border-bottom: 1px solid rgba(48, 47, 47, 0.2);
}

.scroll-top-0-up .top-bar>.con>.menu-box-1>ul>li>a {
    color: black;
}

.scroll-top-0-up .top-bar>.con>.lang-select-box-1>span {
    color: black;
}


/* 탑바 - 견적 선택 박스 */

.top-bar>.con>.estimate-select-box-1>ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
}

.top-bar>.con>.estimate-select-box-1>span {
    color: white;
    font-weight: 100;
    display: inline;
}

.top-bar>.con>.estimate-select-box-1>span {
    cursor: pointer;
}

.top-bar>.con>.estimate-select-box-1>span:nth-child(3) {
    display: none;
}

.top-bar>.con>.estimate-select-box-1:hover>span:nth-child(3) {
    display: block;
}

.top-bar>.con>.estimate-select-box-1:hover>span:nth-child(2) {
    display: none;
}

.top-bar>.con>.estimate-select-box-1:>ul {
    display: none;
}

.top-bar>.con>.estimate-select-box-1:hover>ul {
    display: block;
    background-color: white;
}

.top-bar>.con>.estimate-select-box-1>ul>li>a {
    padding: 5px 30px;
    display: block;
}


/* 페이지1구현 */

.page-1 {
    position: relative;
    overflow: hidden;
}


/* 가격견적고정사이드바 */

.estimate-bar {
    position: fixed;
    margin-right: 10px;
    top: 30%;
    right: 0;
    background-color: #65bec0;
    width: 90px;
    height: 400px;
    z-index: 1000;
}

.estimate-bar>.top {
    background-color: #2d2d2d;
    height: 90px;
}


/* 메인 하단 박스 */

.page-1 .text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
    background-color: rgba(48, 47, 47, 0.7);
    padding: 20px;
}

.page-1 .text-box>.wrap {
    position: relative;
    overflow: hidden;
}

.page-1 .text-box>.wrap>.mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: gold;
    z-index: 1005;
}

.page-1 .text-box>.wrap>.small-text {
    font-size: 14px;
    font-weight: 200;
    color: white;
    margin-left: 50px;
}

.page-1 .text-box .wrap>h1 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -2px;
    color: white;
    margin-left: 50px;
}

.page-1 .text-box>p {
    color: white;
    font-size: 12px;
    font-weight: 200;
}


/* 슬라이더 */

.slider-p {
    position: relative;
    border: 1px solild red;
}

.slider-p .slides>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    transition: transform 7s;
    background-repeat: nowrap;
}

.slider-p .slides>div.active {
    opacity: 1;
    transform: scale(1.3);
}

.slider-p .nav-box {
    z-index: 1001;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.slider-p .nav-box>.control-box>button {
    background-color: transparent;
    /* 	outline:0; */
    color: white;
    border: 0;
    font-size: 2rem;
}

.slider-p .progress-bar {
    height: 10px;
    width: 300px;
    position: relative;
}

.slider-p .progress-bar>.stick {
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 100%;
    background-color: gold;
    border-radius: 30px;
}

.index-box {
    color: white;
}

.index-box>div {
    padding: 0 20px;
    font-weight: bold;
}

.index-box>div:first-child {
    color: gold;
}

.slider-p-1 {
    height: 100%;
}


/*2페이지구현*/

.page-2 {
    overflow: hidden;
    position: relative;
}

.page-2 .up-wrap .row {
    margin: 0 auto;
}


/* 이미지 나오는 부분 */

.page-2 .up-wrap .row>div {
    position: absolute;
    /* background-color: blue; */
    top: 50%;
    transform: translateY(-50%);
}

.page-2 .up-wrap .row>.img-box {
    z-index: -1;
}

.page-2 .up-wrap .row>.img-box:first-child {
    left: -100%;
    width: 30%;
    height: 80%;
    transition: left 1s;
}

.page-2.active .up-wrap .row>.img-box:first-child {
    transition: left 1s;
    left: 0%;
}

.page-2 .up-wrap .row>.img-box:nth-child(2) {
    right: -100%;
    width: 30%;
    height: 70%;
    transition: right 1s;
    border: 1px solid red;
}

.page-2 .up-wrap .row>.img-box:nth-child(2) {
    transition: right 1s;
    right: 0%;
}


/* 이미지 나오는 부분 */

.page-2 .up-wrap .row>.text-box {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


/* 가운데 메인글 */

.page-2 .up-wrap .row>.text-box {
    font-size: 16 px;
    color: #cdcdcd;
    line-height: 40px;
    padding: 20px;
}

.page-2 .up-wrap .row>.text-box>div {
    font-size: 24px;
    color: gold;
    font-weight: bold;
}


/*포트폴리오  */

.page-2 .down-wrap .row {
    margin: 0 auto;
    border: 1px solid green;
}

.page-2 .down-wrap {
    position: absolute;
    top: 60%;
    left: 0;
}


/* 가운데 롱 마크 줄 */

.page-2 .down-wrap .long-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 10px;
    color: gold;
    border-top-right-radius: 10px;
    z-index: 100;
    /* transform: translateY(1000px);
	opacity:0; */
}


/* .page-2.active .down-wrap .long-mark{
	transform:translateY(0);
	opacity:1;
} */

.page-2 .down-wrap .row>div {
    margin: 0 20px;
    border: 1px solid red;
}

.page-2 .down-wrap .row>div>img {
    margin: 100px 20px;
    width: 200px;
    height: 200px;
    transform: translateY(2000px);
    opacity: 0;
    transition: transform 1s;
}

.page-2.active .down-wrap .row>div>img {
    transform: translateY(0);
    opacity: 1;
}


/* 페이지3구현*/

.page-3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-3 .content-wrap {
    /* border:1px solid red; */
}

.page-3 .content-wrap ul {
    /* border:2px solid gold; */
}

.page-3 .content-wrap ul>li {
    /* border:2px solid red; */
}


/* 트랜지션변화 */

.page-3 .content-wrap ul>li>a>.wrap-a {
    width: 200px;
    height: 200px;
    background-color: rgba(48, 47, 47, 0.5);
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.page-3 .content-wrap ul>li>a>.wrap-a>.wrap-b {
    height: 100%;
    width: 100%;
    background-color: #65bec0;
    /* border:1px solid red; */
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    transform: rotatey(90deg);
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
}

.page-3 .content-wrap ul>li>a>.wrap-a:hover>.wrap-b {
    transform: rotatey(0deg);
}

.page-3 .content-wrap ul>li>a>.wrap-a>.text {
    padding: 10px;
    color: white;
}

.page-3 .content-wrap ul>li>a>.wrap-a>.title {
    font-size: 16px;
    font-weight: 400;
}

.page-3 .content-wrap ul>li>a>.wrap-a>.En {
    font-size: 14px;
    font-weight: 700;
    color: #65bec0;
}

.page-3 .content-wrap ul>li>a>.wrap-a>.p {
    font-size: 12px;
    font-weight: 200;
}

.page-3 .content-wrap ul>li>a>.wrap-a>.wrap-b>.text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 200;
    color: white;
    padding: 10px;
    padding-top: 20px;
}

.page-3 .content-wrap ul>li>a>.wrap-a>.wrap-b>.En {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    color: rgb(75, 74, 74);
    font-weight: 900;
    font-size: 14px;
    text-align: center;
}


/* 4페이지 구현 */

.page-4>.container>.left>.sticker {
    width: 180px;
    height: 180px;
    padding: 70px;
    position: relative;
}

.page-4>.container>.left>.sticker>.text-box>.title {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: translatex(-50%) translatey(-50%);
    z-index: 100;
    font-size: 25px;
    color: white;
    line-height: 40px;
    text-align: center;
}

.page-4>.container>.left>.sticker>.tex-box>.dot {
    content: "";
    border: 2px solid white;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: translatex(-50%) translatey(-50%);
    z-index: 110;
}

.page-4>.container>.left>.example-1 .sticker-img {
    background-color: #ff4a85;
}

.page-4>.container>.left>.example-1 .sticker-shadow {
    opacity: 0.6;
}

.page-4>.container>.left>.example-2 .sticker-img {
    background-color: #ff4a85;
}

.page-4>.container>.left>.example-2 .sticker-shadow {
    opacity: 0.6;
}

.page-4>.container>.left>.example-3 .sticker-img {
    background-color: #ff4a85;
}

.page-4>.container>.left>.example-3 .sticker-shadow {
    opacity: 0.6;
}